@import "tailwindcss";
@import "./primitives.css";
@import "./semantics.css";

@layer base {
  body {
    background-color: var(--color-surface-base);
    color: var(--color-body-content);
  }

  * {
    scrollbar-width: thin;
  }
}
